export(marker_enrich_table)
export(gen_layer)
export(gen_comp)
export(gen_comp_multi)
export(gen_uniqueness)
export(gen_uniqueness_multi)
export(compute_auc)
export(gen_auc_curve)
export(gen_auc_bar)
export(gen_n_enriched)
export(gen_mean_time)
export(gen_order_comp)
export(validate_markers)
export(split_markers)
