export(marker_enrich_table)
export(plot_layer)
export(plot_comp)
export(plot_comp_multi)
export(plot_uniqueness)
export(plot_uniqueness_multi)
export(compute_auc)
export(plot_auc_curve)
export(plot_auc_bar)
export(plot_n_enriched)
export(plot_mean_time)
export(plot_order_comp)
export(validate_markers)
export(split_markers)
